%h1 Rails + Webpack + ReactJS (as Pack & as Component)

= image_tag 'logos/rails_bw_403x512.png', alt: 'Rails', size: '100x128'
= image_tag 'logos/webpack_1200x1200.png',  alt: 'Rails', size: '128x128'
= image_tag 'logos/reactjs_512x512.png',  alt: 'Rails', size: '128x128'

= javascript_pack_tag 'hello_react'
= react_component 'HelloWorld', {greeting: 'Hello from rails-react component'}